/* =========== GLOBAL =========== */
/* =========== GLOBAL =========== */

.wrapper{
    overflow: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
}

.title{
    font-size: 45px;
    animation: changecolor 3s ease infinite;
}

@keyframes changecolor {
    0%{
        color: red;
    }
    20%{
        color: green;
    }
    40%{
        color: gold;
    }
    60%{
        color: pink;
    }
    80%{
        color: purple;
    }
    100%{
        color: orange;
    }
}

.btn-primary{
    margin-top: 30px;
}